<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>统一认证中心</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <style>
        .login-box {
            width: 30rem;
            margin: auto;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    </style>
</head>
<body>
<div class="card border-info login-box">
    <div class="card-header">
        <h4>登录</h4>
    </div>
    <div class="card-body">
        <form method="POST" th:action="@{/web/login}" th:object="${model}">
            <div class="form-group">
                <label>用户名</label>
                <input type="text" class="form-control" th:field="*{username}" id="username"
                       th:class="${#fields.hasErrors('username')} ? 'form-control is-invalid' : 'form-control'"
                       placeholder="用户名">
                <div class="invalid-feedback" th:text="${#fields.errors('username')}"
                     th:errors="*{username}"></div>
            </div>
            <div class="form-group">
                <label>密码</label>
                <input type="password" class="form-control" th:field="*{password}" id="password"
                       th:class="${#fields.hasErrors('password')} ? 'form-control is-invalid' : 'form-control'"
                       placeholder="密码">
                <div class="invalid-feedback" th:text="${#fields.errors('password')}"
                     th:errors="*{password}"></div>
            </div>
            <div class="form-group">
                <label for="captcha">验证码</label>
                <div class="row">
                    <div class="col-8">
                        <input type="text" class="form-control" th:field="*{captcha}" id="captcha"
                               th:class="${#fields.hasErrors('captcha')} ? 'form-control is-invalid' : 'form-control'"
                               placeholder="验证码">
                        <div class="invalid-feedback" th:text="${#fields.errors('captcha')}"
                             th:errors="*{captcha}"></div>
                    </div>
                    <div class="col-4">
                        <img id="captcha-img" class="w-100" th:src="@{/captcha/get}" alt="验证码">
                    </div>
                </div>
            </div>
            <input type="hidden" th:field="*{redirectUrl}" id="redirectUrl"/>
            <div>
                <small class="text-danger" th:text="${errorMsg}"></small>
            </div>
            <button type="submit" class="btn btn-primary">登录</button>
        </form>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>

<script>
    $('#captcha-img').click(function () {
        $(this).height($('#captcha').outerHeight());
        $(this).attr('src', '/captcha/get?' + Date.now());
        $('#captcha').val('');
    });
    $('#captcha-img').click();
</script>
</body>
</html>